* {
    margin: 0;
    box-sizing: border-box;  
}  

html
{
	scroll-behavior: smooth;
}

.home-section {
    padding: 100px 50px;
    background-color: #F8f7f9;
}

.section_heading
{
    text-align: center;
    margin-bottom: 40px;
}

.section_heading h2
{
    font-size: 3rem;
    line-height: 48px;
    font-weight: bold;
    color: #091540;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.about-section {
    padding: 100px 50px;
    background-color: #b2bff8;
}

.text {
    color: #091540;
    padding-top: 8px;
    font-size: 20px;
}

.button {
    color: #9A6AFF;
    border-radius: 10px;
    align-items: center;
    justify-items: auto;
}
.float-right {
    float: right;
}

.education-section {
    padding: 100px 50px;
    background-color: #F8f7f9;
    padding-left: 150px;
}

.skill-section {
    padding: 100px 50px;
    background-color: #F8f7f9;
    padding-left: 150px;
}

.language-section {
    padding: 100px 50px;
    background-color: #F8f7f9;
    padding-left: 150px;
}

.activity-section {
    padding: 100px 50px;
    background-color: #F8f7f9;
}

.experience-section {
    padding: 100px 50px;
    background-color: #F8f7f9;
    padding-left: 150px ;
}